.card {
  border-bottom: solid 5px;
  background: #E5E5E5;
}

.card-image-container {
  padding: 10px;
}

.card-body {
  padding: 15px 5px;
  text-align: center;
}

.card-text {
  margin-bottom: 20px;
}

.card-text > span {
  margin-right: 12px;
  font-size: 10px;
}

.card-text > img {
  margin-right: 5px;
  font-size: 12px;
  opacity: 0.5;
}

.card-title {
  color: #4F4F4F;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
  background: #ffffff;
}
