<div class="card my-3" [appVideoDateStatus]="video.snippet.publishedAt">
  <div class="card-image-container">
    <img class="card-img-top" [src]="video.snippet.thumbnails['medium'].url" alt="Card image cap">
  </div>
  <div class="card-body">
    <div class="card-text">
      <img src="assets/images/viewed.png" alt="Views">
      <span>{{video.statistics.viewCount | bigNumber}}</span>
      <img src="assets/images/liked.png" alt="Likes">
      <span>{{video.statistics.likeCount | bigNumber}}</span>
      <img src="assets/images/dislike.png" alt="Dislikes">
      <span>{{video.statistics.dislikeCount | bigNumber}}</span>
      <img src="assets/images/count.png" alt="Count">
      <span>{{video.statistics.commentCount | bigNumber}}</span>
    </div>
    <h5 class="card-title" >{{video.snippet.title}}</h5>
    <button mat-stroked-button>more...</button>
  </div>
</div>
